In [24]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#### DataSet

In [25]:
movie_data = pd.read_csv('u.data',sep='\t',names=['user_id','item_id','rating','timestamp'])
movie_names = pd.read_csv('Movie_Id_Titles')
movie_data= pd.merge(movie_data,movie_names,on='item_id')
movie_data.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

In [26]:
def MovieMatrix(movieData):
    movieMatrix = movieData.pivot_table(index = 'user_id',values = 'rating',columns='title')
    return movieMatrix

def MovieCoeff(movieName,movieMatrix):
    movie_correlation = movieMatrix.corrwith(movieMatrix[movieName])
    single_movie = pd.DataFrame(movie_correlation,columns=['Correlation'])
    single_movie.dropna(inplace=True)
    single_movie = single_movie.join(movie_data.groupby('title')['rating'].count())
    print(single_movie[single_movie['rating']>100].sort_values('Correlation',ascending = False).head(10))

In [27]:
def main():
    Matrix = MovieMatrix(movie_data)
    movieName = input("Movie ")
    recMovie = MovieCoeff(movieName,Matrix)

In [28]:
main()

                                  Correlation  rating
title
Ulee's Gold (1997)                   1.000000     184
Great Escape, The (1963)             1.000000     124
Manchurian Candidate, The (1962)     1.000000     131
Philadelphia Story, The (1940)       1.000000     104
Good Will Hunting (1997)             0.966130     198
Kiss the Girls (1997)                0.946100     143
Stargate (1994)                      0.907485     127
Fly Away Home (1996)                 0.892753     180
Crash (1996)                         0.866025     128
Sense and Sensibility (1995)         0.835229     268

In [ ]:
main()

In [12]:
main()

C:\python3\lib\site-packages\numpy\lib\function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\python3\lib\site-packages\numpy\lib\function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

                                 Correlation  rating
title
2001: A Space Odyssey (1968)             1.0     259
Absolute Power (1997)                    1.0     127
Casablanca (1942)                        1.0     243
Close Shave, A (1995)                    1.0     112
Clueless (1995)                          1.0     170
Welcome to the Dollhouse (1995)          1.0     112
Graduate, The (1967)                     1.0     239
Beauty and the Beast (1991)              1.0     202
Highlander (1986)                        1.0     153
Heathers (1989)                          1.0     171